<div class = "container">
    <div class="p-5 row">
            <h1>welcome to <strong>Bookers</strong>!!</h1>
            <p>
            In <strong>Bookers</strong>,<br>
            you can share and exchaneg your opinions, inpressions and emotions<br>
            about various books!
            </p>
            <div class = "col-10 mx-auto" style="text-align:center; background-color:#17a2b8;margin-bottom:7px;"><%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %></div>
            <div class = "col-10 mx-auto" style="text-align:center; background-color:#28a745;"><%= link_to "ログイン", new_user_session_path, class: 'nav-link' %></div>
    </div>
</div>
